.header
  .header_logo
    = link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/"
  .nav
    %ul.lists-left
      %li= link_to 'コンセプト', "#",  class: "C"
      %li= link_to 'サービスの流れ', "#", class: "S"
    %ul.lists-right
      %li= link_to 'ログイン', "#", class: "login"
      %li= link_to '新規登録', "#", class: "sign-up"
.main
  .title-contents
    %h2.service-title
      %ul 
        %li<
          過去に戻りたいと思っても、過去には戻れない
        %li<
          でも未来からすれば今は過去なんだ
        %li<
          未来の自分が後悔しないよう今を全力で生きよう！
      